*{
   margin: auto;
   height: auto;
}
body{
    background-image: url("assests/splash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color:rgb(255, 0, 0);
    font-family: 'Indie Flower', cursive;
    font-size:3em;
    font-weight: bold;
    letter-spacing: 0.1em;
    /* font-weight: 2000; */
    text-align:center;
    margin-top:3vh;
}